@using StudentController.Models;
@{
    Student student = ViewBag.Students;
}

<h1>Detail Page for Students</h1>

<p>Student ID: @student.Id</p>
<p>Student FullName: @student.FullName</p>
<p>Student Point: @student.Point</p>